<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-row class="d-flex justify-center">
          <v-col cols="12">
            <v-data-table
              v-if="jobs"
              :headers="[
              {
                text: 'Job ID',
                value: 'jobID'
              },
              {
                text: 'Status',
                value: 'status'
              },
              {
                text: 'Result',
                value: 'result'
              },
              {
                text: 'Logs',
                value: 'logs'
              }
            ]"
            :items="jobs"
            dense
            :items-per-page="20"
            >
              <template #item.jobID="{ item }">
                <code>{{ item.jobID }}</code>
              </template>
              <template #item.status="{ item }">
                <v-tooltip right>
                  <template v-slot:activator="{ on, attrs }">
                    <v-chip
                      :color="getStatusStyle(item.status).color"
                      small
                      dark
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small left>
                        {{ getStatusStyle(item.status).icon }}
                      </v-icon>
                      {{ item.status }}<span v-if="item.progress" class="ml-1">({{item.progress}}%)</span>
                    </v-chip>
                  </template>
                  <small>{{ item.message }}</small>
                </v-tooltip>
              </template>
              <template #item.logs="{ item }">
                <v-btn
                  v-if="item.logs"
                  color="primary"
                  plain
                  small
                  :href="`https://eoepca-staging.spaceapplications.com/ades${item.logs.href}`"
                  target="_blank"
                  class="px-0"
                >
                  <v-icon
                    small
                    left
                  >
                    mdi-cloud-print-outline
                  </v-icon>
                  logs
                  <!-- <v-icon
                    small
                    right
                  >
                    mdi-open-in-new
                  </v-icon> -->
                </v-btn>
              </template>
              <template #item.result="{ item }">
                <v-btn
                  v-if="item.result"
                  color="primary"
                  text
                  small
                  @click="fetchItem(`https://eoepca-staging.spaceapplications.com/ades${item.result.href}`)"
                  target="_blank"
                  class="px-0"
                >
                  <v-icon
                    small
                    left
                  >
                    mdi-cloud-download-outline
                  </v-icon>
                  result
                  <!-- <v-icon
                    small
                    right
                  >
                    mdi-open-in-new
                  </v-icon> -->
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#003247'
            },
          },
        },
      }),
      data: () => ({
        jobs: null
      }),
      async created () {
        const params = new URLSearchParams()
        params.append('scope', 'openid user_name is_operator')
        params.append('grant_type', 'password')
        params.append('username', 'osc')
        params.append('password', '<pwd>')
        params.append('client_id', 'eba82eb7-5cb0-4f5e-99ab-3830eef383e2')
        const auth = await axios.post('https://auth.eoepca-staging.spaceapplications.com/oxauth/restv1/token', params, {
          headers: {
            'Cache-Control': 'no-cache',
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        })
        // const processes = await axios.get('https://eoepca-staging.spaceapplications.com/ades/osc/wps3/processes', {
        //   headers: {
        //     'Accept': 'application/json',
        //     'X-User-Id': auth.data.id_token
        //   }
        // })

        const result = await axios.get('https://eoepca-staging.spaceapplications.com/ades/osc/wps3/jobs', {
          headers: {
            'Accept': 'application/json',
            'X-User-Id': auth.data.id_token,
            'Content-Type': 'application/json',
            'Prefer': 'respond-async'
          }
        })
        this.jobs = result.data.jobs.reverse().map(j => ({
          ...j,
          logs: j.links[0],
          ...(j.links[1] ? { result: j.links[1] } : {})
        }))
      },
      methods: {
        getStatusStyle (type) {
          const styling = {
            color: '',
            icon: ''
          }
          switch (type) {
            case 'running':
              styling.color = 'warning'
              styling.icon = 'mdi-progress-clock'
              break
            case 'successful':
              styling.color = 'success'
              styling.icon = 'mdi-progress-check'
              break
            case 'failed':
              styling.color = 'error'
              styling.icon = 'mdi-progress-close'
          }
          return styling
        },
        async fetchItem (url) {
          const params = new URLSearchParams()
          params.append('scope', 'openid user_name is_operator')
          params.append('grant_type', 'password')
          params.append('username', 'osc')
          params.append('password', '<pwd>')
          params.append('client_id', 'eba82eb7-5cb0-4f5e-99ab-3830eef383e2')
          const auth = await axios.post('https://auth.eoepca-staging.spaceapplications.com/oxauth/restv1/token', params, {
            headers: {
              'Cache-Control': 'no-cache',
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          })
          const result = await axios.get(url, {
            headers: {
              'Accept': 'application/json',
              'X-User-Id': auth.data.id_token,
              'Content-Type': 'application/json',
              'Prefer': 'respond-async'
            }
          })
          window.open(result.data.StacCatalogUri, '_blank').focus()
        }
      }
    })
  </script>
</body>
</html>