name: Build and push Docker Image

on:
  push:
    branches:
      - "dev"

jobs:
  push_to_registry:
    name: Build and push Docker image to Docker Hub

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          path: ./
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: eoepca/open-science-catalog-frontend
          tags: "v${{ steps.package-version.outputs.current-version }}-${{ github.head_ref || github.ref_name }}"